#nprogress .bar {
    height: 4px !important;
}

.ql-editor {
    min-height: 300px;
}

.featured-image {
    width: 50%;
    max-height: 300px;
    background-size: cover;
    border: 6px solid black;
    margin-left: auto;
    margin-right: auto;
}

hr{
    background-color: black;
}

.mainNav
{
    background-color: rgb(32, 32, 78);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 15px;
    
    /* height: 70px; */
}
.content{
    padding-top: 80px;
}
.content1{
    padding-top: 50px;
}
.content2{
    padding-top: 120px;
}

.fsize{
    font-size: 20px;
}

.setcol
{
    /* background: linear-gradient(
        to bottom,
        white,
        white 35%,
        rgb(32, 32, 78) 30%,
        rgb(32, 32, 78)
);
background-size: 100% 10px; */
background-image: url('https://i.ibb.co/bLd5ZSg/hamburger.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.headfont{
    font-size: 40px;
}
@media screen and (max-width: 900px) {
.mainimg{
    width: 100% ;
}
}
@media screen and (max-width: 850px) {
.headfont{
    font-size: 30px;
}
}

@media screen and (max-width: 728px) {
.headfont{
    font-size: 25px;
}
}

@media screen and (max-width: 441px) {
.headfont{
    font-size: 20px;
}
}

.headerimg{
    
    height: 20px;
}

.cmpnylist{
    max-height: 500px;
    overflow-y: scroll;
}

@media screen and (max-width: 767px) {
.cmpnylist{
    max-height: 200px;
    overflow-y: scroll;
}
}

